.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Playfair Display", serif;
  color: white;
  z-index: 0;
}

.logo {
  width: 150px;
}
.modal-content {
  background-image: linear-gradient(
    to top,
    #96fbc4 0%,
    #f9f586 100%
  ) !important;
}

input.input-error {
  border: 2px solid red;
}
.text-gradient {
  /** TEXT GRADIENT */
  color: #5a915b;
  background-image: -webkit-linear-gradient(45deg, #5a915b 56%, #ff9800 50%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.navbar {
  background-color: white !important;
}
.home-container {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(242, 132, 23, 0.3)
    ),
    url("./assets/images/background.avif");
  background-size: cover;
}
.gradient-text {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

@media (max-width: 650px) {
  .text-overlay h1 {
    font-size: 40px;
  }
  .navbar {
    background-color: lightgray;
  }

  .text {
    font-size: 35px !important;
  }
  .container-fluid {
    display: none;
  }
}
